@import '~/assets/grid.scss';

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav--left {
    display: flex;
    svg { margin: -.3rem 1rem 0 0; }
  }

  .nav--title {
    font-size: 2rem;
    span { font-style: italic; }
  }

  .nav--right {
    display: none;
    @include breakpoint(md) { display: inherit; }
  }