@import '~/assets/grid.scss';

  nav {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    position: relative;
    width: 100%;
  }

  .nav--left {
    display: flex;
    svg { margin: -.3rem 1rem 0 0; }
  }

  .nav--title {
    position: absolute;
    margin: auto;
    right: 0; left: 0;
    width: max-content;
    font-size: 2rem;
    text-align: center;
  }

  .nav--right {
    display: none;
    text-align: right;
    @include breakpoint(md) { display: inherit; }
  }